{% extends 'portal/main.html' %}
{% load static %}
{% block content %}
<div class="card text-center">
    <div class="card-header">
        Are you sure you want to delete "{{item}}"
    </div>
    <div class="card-body">
      <form action ="{% url 'deletejobpost' item.id %}" method="POST">
        {% csrf_token %}
        <a class="btn btn-primary" href="{% url 'home' %}">Cancel</a>
        <input class="btn btn-danger" type="submit" name="Confirm">
        </form>
     
  </div>
</div>


{% endblock %}