<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">JobPortal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home </a>
        </li>
        
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hr' %}">HrPage</a> 
          </li>
          
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
      </ul>
   
    </div>
        <span>Hello,{{request.user}}</span>
        <span><a class="nav-link" href="{% url 'logout' %}">Logout</a></span>
        
  </nav>